<div class="container">
    <h3 class="d-flex justify-content-center mt-2">Movie App</h3>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <button routerLink="movie" class="m-1 btn btn-info btn-outline">Movie</button>
        </li>
        <li class="nav-item">
            <button routerLink="genre" class="m-1 btn btn-info btn-outline">Genre</button>
        </li>
        <li class="nav-item">
            <button routerLink="actor" class="m-1 btn btn-info btn-outline">Actor</button>
        </li>
        <li class="nav-item">
            <button routerLink="about" class="m-1 btn btn-danger btn-outline">BUGS</button>
        </li>
      </ul>
</div>

<router-outlet></router-outlet>