<div class="container">
    <h3 class="d-flex justify-content-center mt-2">Bugs and tasks that need to be done:</h3>
        <li class="list-group-item">
            Iš pirmo karto paspaudus edit žanrą, aktorių ar filmą, neparodo duomenų.
             Uždarius ir vėl paspaudus edit iš antro karto veikia normaliai. Kadangi editinant filmą nėra nustatytas senas žanras,
              būtinai reikia parinkti, kad editinimas suveiktų. (Bug)
        </li>
        <li class="list-group-item">
            Ištrynus item, išmetama tuščia lentelė. (Bug)
        </li>
        <li class="list-group-item">
            "Duplicate values" (Task)
        </li>
        <li class="list-group-item">
            Neišeina parinkti kelių aktorių pridedant filmą, todėl aktorių pridėjimą išjungiau. (Bug)
        </li>
        <li class="list-group-item">
            Nėra filtravimo pagal datą. (Task)
        </li>
</div>
